html, body {
    padding: 0;
    margin: 0;
}
* {
    font-family: 'Chilanka', cursive !important;
}
.layout-main {
    display: flex;
    height: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.test {
    padding: 20px;
}

h1 {
    text-align: center;
}