.meter {
  background: gray;
  min-width: 30px;
  width: 30px;
  height: 450px;
  position: relative;
  background: #e8416f;
  background: -moz-linear-gradient(top,  #e8416f 10%, #f29305 30%, #eec20b 50%, #bbcf4c 70%, #79bc6a 90%);
  background: -webkit-linear-gradient(top,  #e8416f 10%,#f29305 30%,#eec20b 50%,#bbcf4c 70%,#79bc6a 90%);
  background: linear-gradient(to bottom,  #e8416f 10%,#f29305 30%,#eec20b 50%,#bbcf4c 70%,#79bc6a 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8416f', endColorstr='#79bc6a',GradientType=0 );
}

.arrow {
  position: absolute;
  right: 0;
  height: 30px;
  transition: 0.3s all ease-in;
}

.arrow > img {
  max-height: 30px;
}

.particle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/particle.png');
    z-index: -1;
    transition: 0.3s all ease-in;
    opacity: .3;
    pointer-events: none;
}