.meter {
    background: gray;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.meter-part {
    height: calc(100%/3);
}

.good {
    background: #6df36d;
}

.warning {
    background: #f1b506;
}

.alert {
    background: #b30909;
}

.arrow {
    position: absolute;
    right: 0;
    height: 20px;
    width: 65%;
    background: black;
}